body {
    /* background-image: url("circle/sky.gif"); */
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
}
  
.main {
    display: grid;
    width: 800px;
    height: 500px;
    grid-template-rows: 55px 2px 445px;
    border-radius: 10px;
}
  
.main-block1 {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: left;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #8f8f8f;
}
  
.main-block2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.block2-left-box {
    margin: 0px;
    background-color: #8f8f8f;
    border-bottom-left-radius: 10px;
    height: 100%;
}

.block2-left-box-div {
    display: grid;
}

.block2-left-box-button {
    background-color:grey;
    color: white;
    border: solid 1px white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    width: 170px;
    height: 35px;
    transition: background-color 1s;
}

.block2-left-box-button:hover {
    background-color: aqua;
}

.image-circle {
    margin-left: 8px;
}

.image-circle-button {
    margin-left: 0px;
}

.search-bar {
    background-image: url(../picture/search.png);
    background-size: 25px;
    background-position: left 4px center;
    background-repeat: no-repeat;
    outline: none;
    width: 200px;
    border: none;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 30px;
    border-radius: 15px;
    padding-left: 30px;
}

.main-button {
    background-color: #8f8f8f;
    color: white;
    border: solid white 2px;
    border-radius: 1px;
    font-size: 17px;
    margin-right: 10px;
    height: 92%;
    width: 85px;
    transition: color 1s , background-color 1s;
}

.main-button:hover {
    color: #8f8f8f;
    background-color: white;
}

.main-button:active {
    opacity: 0.5;
}

.button-info {
    background-color: #8f8f8f;
    width: 25px;
    height: 25px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main-block3 {
    background-color: #b0b0b0;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    width: 100%;
    height: 100%;
}

.tooltip-button {
    position: relative;
}

.tooltip-text {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 200%;
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 2.5s;
}

.tooltip-button:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.block3-right-box-monitor {
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    width: 570px;
    height: 400px;
    border-radius: 10px;
    justify-content: center;
}

.aboutUs-bar {
    /*grid main*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    justify-content: center;
    /* row-gap , column-gap */
}

.aboutUs-shape {
    /*bar*/
    width: 150px;
    align-items: center;
    transition: bax-shadow 1s;
}

.aboutUs-box {
    /*shadow*/
    background-color: #a8a8a8;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.aboutUs-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0 ,1);
}

.aboutUs-picture {
    /*picture*/
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.aboutUs-name {
    /*words*/
    font-family: Montserrat;
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 8px;
    display: block;
}

.aboutUs-button {
    /*button*/
    background-color: #4267B2;
    font-size: 10px;
    font-weight: 10px;
    width: 60px;
    height: 30px;
    color: white;
    border-radius: 3px;
    border: none;
    margin-bottom: 5px;
    margin-left: 8px;
    vertical-align: top;
    opacity: 0.7;
}

.aboutUs-button:hover {
    opacity: 1;
}

.aboutUs-button:active {
    opacity: 0.5;
}

.contact-picture {
    width: 30px;
    vertical-align: left;
}

.usb-picture {
    width: 300px;
    justify-content: left;
}

.contact {
    display: grid;
    grid-template-rows: auto;
    gap: 5px;
    color: gray;
    position: middle;
}

.contact-bar {
    margin-top: 5px;
    margin-left: 38px;
}

.contact-info {
    display: grid;
    grid-template-columns: 30px lfr;
}

.contact-div-shadow {
    border: #8f8f8f solid 2px;
    border-radius: 5px;
    transition: color 0.5s , background-color 0.5s;
}

.contact-div-shadow:hover {
    color: white;
    background-color: #b0b0b0;
}